@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');


/*공통*/
html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #718926;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #5a6e1e;
}

* {
	/* scrollbar-width: thin; */
	scrollbar-color: #718926 #f1f1f1;
}

body {
	font: 15px 'Noto Sans KR', sans-serif;
	color: #222;
}

.more {
	text-align: right;
	display: block;
}

.more span {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
	color: #626262;
}

.more i {
	margin-left: 10px;
	color: #898989;
	transition: all 0.3s;
}
.more:hover i {
	transform: rotate(800deg);
}

.inner {
	width: 1280px;
	margin: 0 auto;
}
.hidden-text {
	display: none;
}


/* header */
header {
	position: relative;
	width: 100%;
	padding: 30px;
	z-index: 50;
	background-color: #fff;
	box-sizing: border-box;
}

header .header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
}

header .logo {
	width: 100%;
    max-width: 120px;
}
header .logo a {
	display: block;
}

header .logo a img {
	display: block;
	width: 100%;
	height: 100%;
}

header .trigger {
	display: none;
	cursor: pointer;
	position: relative;
	width: 24px;
	height: 14px;
}

header .trigger span {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #202020;
	transition: all 0.3s ease;
}

header .trigger span:nth-child(1) {top: 0;}
.trigger span:nth-child(2) {top: 50%; width: 80%;}
header .trigger span:nth-child(3) {top: 100%;}

header .trigger.active span:nth-child(1) {top: 50%; transform: rotate(45deg);}
header .trigger.active span:nth-child(2) {opacity: 0;}
header .trigger.active span:nth-child(3) {top: 50%; transform: rotate(-45deg);}

.m_nav {display: none;}

header .tnb-list {
	display: flex;
	gap: 10px;
}
header .tnb-list li {
	position: relative;
	padding-right: 10px;
	font-size: 12px;
    color: #8a8d8f;
    line-height: 15px;
}
header .tnb-list li a {
	display: block;
	padding: 5px 10px;
}

header .tnb-list li:last-child {
	padding-right: 0;
}

header .tnb-list li:not(:last-child):before {
	content: '|';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

header .nav-area .nav_bg {
	display: none;
	position: absolute;
	top: 148px;
	left: 0;
	width: 100%;
	height: 290px;
	background: #fff;
	border-top: 1px solid rgb(209, 209, 209);
}

header .nav {
	padding-left: 20px;
}

header .nav-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .nav .nav-list {
	display: flex;
	gap: 20px;
	margin-top: 30px;
}

header .nav .nav-list .nav-item {
	position: relative;
	width: 100%;
	max-width: 120px;
}
header .nav .nav-list .nav-item:hover .nav-link {
	color: 718926;
}

header .nav .nav-list .nav-item .nav-link {
	display: block;
	width: 120px;
	padding: 5px 10px;
	font-size: 19px;
    color: #1d1d1d;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.5px;
	box-sizing: border-box;
	transition: all .2s;
}

header .nav .nav-list .sub-menu {
	display: none;
	/* display: flex; */
	flex-direction: column;
	gap: 10px;
	position: absolute;
	top: 80px;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	text-align: left;
	color: #1d1d1d;
}

header .nav .nav-list .sub-menu .sub-menu-link {
	width: 100%;
	padding: 10px;
    color: #a7a7a7;
	box-sizing: border-box;
	transition: all .2s;
}

header .nav .nav-list .sub-menu .sub-menu-link:hover {
    color: #718926;
} 

@media (max-width: 1080px) {
	header {
		padding: 15px;
	}
	header .header-inner {
		justify-content: space-between;
	}

	header .nav-area {
		display: none;
	}

	header .trigger {
		display: block;
	}

	.m_nav.active {
		display: block;
		position: absolute;
		top: 71px;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		border-top: 1px solid #ddd;
	}

	.m_nav .sub-menu {
		overflow: hidden;
		display: none;
		max-height: 0;
		background-color: #fff;
		box-sizing: border-box;
		transition: opacity 0.3s ease, max-height 0.3s ease;
		opacity: 0; 
	}
	
	.m_nav .sub-menu.active {
		display: block;
		opacity: 1;
		max-height: 500px;
	}

	.m_nav .sub-menu .sub-menu-link {
		padding: 15px 15px 15px 40px;
	}
	.m_nav .sub-menu .sub-menu-link:focus {
		color: #5a6e1e;
	}

	.m_nav .nav-item .nav-link {
		position: relative;
		padding: 20px;
		font-weight: bold;
		box-sizing: border-box;
	}
	
	.m_nav .nav-item .nav-link:after {
		content: '\f107';
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	}
	
	.m_nav .nav-item .nav-link.open {
		color: #5a6e1e;
	}

	.m_nav .nav-item .nav-link.open:after {
		content: '\f106';
	}
}


/* main */
.main {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 820px;
}
.main .swiper-slide {
	color: #fff;
}

.main .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main .swiper-slide img.mo {
	display: none;
}

.main .tit {
	position: absolute;
	top: 250px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	z-index: 999;
}

.main .tit p {
	font-size: 20px;
	font-family: 'montserrat';
	letter-spacing: 3px;
}

.main .tit > span {
	display: block;
	padding-top: 30px;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: -1px;
	word-break: keep-all;
}

.main .tit h2 {
	padding: 30px 15px 0;
	font-size: 48px;
	font-weight: 600;
	line-height: 1.3;
	word-break: keep-all;
}

.main .more {
	overflow: hidden;
	display: block;
	width: 190px;
	height: 55px;
	margin: 48px auto 0;
	text-align: center;
	border: 1px #fff solid;
	z-index: 999;
	transition: all 0.3s;
	box-sizing: border-box;
}

.main .more:hover {
	background: #898989;
	border: 1px #898989 solid;
}

.main .more span {
	display: block;
	padding-top: 0;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	line-height: 55px;
	color: #fff;
}

.main .more span:after {
	content: '\f067';
	margin-left: 20px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
}

.main .swiper-slide.point {
	color: #892636;
}
.main .swiper-slide.point .more {
	color: #892636;
	border-color: #892636;
}
.main .swiper-slide.point .more:hover {
	color: #fff;
	background: #892636;
}

.main .swiper-pagination {
	position: absolute;
	bottom: 50px;
	right: 0;
	z-index: 100;
}

.main .swiper-pagination .swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	margin-left: 10px;
	background-color: #fff;
}

@media (max-width: 768px) {
	.main .swiper-slide img.pc {
		display: none;
	}
	.main .swiper-slide img.mo {
		display: block;
	}
	.main .tit p {
		font-size: 11px;
		letter-spacing: 1px;
	}
	.main .tit h2 {
		padding: 15px 15px 0;
		font-size: 20px;
	}
	.main .tit > span {
		padding-top: 15px;
		font-size: 14px;
		letter-spacing: 0px;
	}
}


/*event*/
.container {
	position: relative;
	width: 100%;
}

.event {
	width: 100%;
	max-width: 1290px;
	margin: 120px auto 0;
	box-sizing: border-box;
	padding: 0 30px;
}

.event .swiper-wrapper {
	position: relative;
	width: 100%;
}

.event .event-title {
	position: relative;
	/* width: 1280px; */
	margin-bottom: 30px;
}

.event .event-title h3 {
	letter-spacing: 12px;
	font-size: 33px;
	text-align: center;
}

.event .event-title .more {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.event .swiper-slide {
	box-sizing: border-box; 
}

.event .swiper-slide figure {
	overflow: hidden;
    width: 100%;
	/* max-width: 410px; */
    height: 100%;
	max-height: 255px;
}

.event .swiper-slide figure img {
	display: block;
	width: 100%;
	transition: 0.25s ease-in-out;
}

.event .swiper-slide figure:hover img {
	transform: scale(1.1);
	transition: all 0.25s;
}

.event .swiper-slide .tit {
	margin-top: 30px;
}

.event .swiper-slide .tit strong {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 15px;
	font-size: 20px;
    color: #1d1d1d;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.05em;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; 
}

.event .swiper-slide .tit strong::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0; 
	width: 100%;
	height: 10px;
	background-color: #70892654; 
	transform: scaleX(0);
	transition: transform 0.25s ease; 
	z-index: -1;
}

.event .swiper-slide:hover .tit strong::after {
	transform: scaleX(1); 
}

.event .swiper-slide .tit p {
	word-break: keep-all;
	margin-bottom: 10px;
	color: #4e4e4e;
}

.event .swiper-slide .tit .time {
	display: block;
	font-size: 15px;
	letter-spacing: 2px;
    color: #5c5c5c;
    line-height: 1.5;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container .swiper-button-next {
	position: absolute;
	right: 10%;
	margin-top: 5px;
	color: #a7a7a7;
}

.container .swiper-button-prev {
	position: absolute;
	left: 10%;
	margin-top: 5px;
	color: #a7a7a7;
}

@media (max-width: 1280px) {
	.event {
		margin: 60px auto 0;
		padding: 0 16px;
	}
	.event .swiper-slide {
		/* display: flex; */
		/* justify-content: center; */
		width: 100%;
	}
	.event .swiper-slide figure {
		max-height: 100%;
	}
}
@media (max-width: 768px) {
	.event .event-title {
		margin: 60px 0 0;
	}
	.event .event-title h3 {
        font-size: 23px;
        letter-spacing: 0.1em;
        text-align: left;
	}
	.event .swiper-slide .tit strong {
		margin-bottom: 10px;
		text-align: center;
		font-size: 18px;
	}
	.event .swiper-slide .tit .time {
		font-size: 13px;
        line-height: 1.3;
	}
}


/*news*/
#notice {
	margin: 120px 0 35px;
}
#notice .inner {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	width: 100%;
	max-width: 1280px;
	padding: 0 30px;
	box-sizing: border-box;
}
#notice .news-area {
	width: calc(50% - 30px);
}

#notice .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 35px;
	border-bottom: 2px solid #222;
}

#notice .title h3 {
	font-size: 33px;
	letter-spacing: 12px;
}

#notice .news {
	width: 100%;
	box-sizing: border-box;
}

#notice .news li {
	border-bottom: 1px solid #ccc;
}

#notice .news li a {
	display: flex;
	gap: 30px;
	justify-content: space-between;
	align-items: center;
    width: 100%;
	padding: 44px 20px;
	box-sizing: border-box;
}
#notice .news li a span {
	position: relative;
	font-weight: 600;
    font-size: 17px;
    color: #1d1d1d;
    line-height: 1.3;
    letter-spacing: -0.05em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	box-sizing: border-box;
}
#notice .news li a span::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px; 
	width: 100%;
	height: 12px;
	background-color: #70892654; 
	transform: scaleX(0);
	transition: transform 0.25s ease; 
	z-index: -1;
}

#notice .news li:hover a span::after {
	transform: scaleX(1); 
}

#notice .news li a time {
    font-size: 14px;
    color: #8a8d8f;
    font-weight: 600;
    letter-spacing: -0.02em;
}

#notice .story {
	position: relative;
	width: calc(50% - 30px);
	box-sizing: border-box;
}
#notice .story .swiper-wrapper {
	width: 100%;
	padding-bottom: 50px;
}

#notice .story .swiper-slide {
	background: #fff;
}

#notice .story .swiper-slide img {
	display: block;
	width: 100%;
}

#notice .story h4 {
	position: relative;
	width: 100%;
    max-width: 88%;
	margin-top: 30px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
	font-weight: 600;
	font-size: 25px;
}

#notice .story .tit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    line-height: 25px;
    width: 100%;
    padding-top: 20px;
	color: #5c5c5c;
	word-break: keep-all;
}

#notice .story .swiper-pagination {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
}

#notice .story .swiper-pagination .swiper-pagination-bullet {
	margin-left: 5px;
	background-color: #718926;
}

@media (max-width: 840px) {
	#notice {
		margin: 60px 0 0;
	}
	#notice .inner {
		flex-direction: column;
		padding: 0 16px;
	}
	#notice .title {
		padding-bottom: 18px;
	}
	#notice .title h3 {
		font-size: 23px;
		letter-spacing: 0.1em;
	}
	#notice .news-area,
	#notice .story {
		width: 100%;
	}
	#notice .news li a {
		padding: 36px 0;
	}
	#notice .news li a span {
		font-size: 15px;
	}
	#notice .story h4 {
		max-width: 100%;
		margin-top: 20px;
		font-size: 22px;
	}
	#notice .story .tit {
		padding-top: 15px;
	}
	#notice .story .swiper-pagination {
		/* bottom: -20px; */
	}
}


/*moments*/
#moments {
	width: 100%;
	height: 100%;
	margin: 120px auto 0;
}
#moments .inner {
	width: 100%;
    max-width: 1280px;
	padding: 0 30px;
	box-sizing: border-box;
}

#moments .tit {
	width: 100%;
	margin-bottom: 30px;
}
#moments h3 {
	text-align: center;
	font-size: 33px;
	letter-spacing: normal;
}

#moments .cont-list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
}
#moments .cont-list li {
	width: calc((100% - 20px)/4);
}

#moments figure {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#moments figure:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -150%;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(0deg);
    transition: left 1.3s ease; /* 애니메이션 효과 추가 */
}

#moments figure img {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#moments figure:hover:before {
	animation: shine 1.3s forwards;
}

@-webkit-keyframes shine {
	100% {
		left: 90%;
	}
}

@keyframes shine {
	100% {
		left: 90%;
	}
}

@media (max-width: 840px) {
	#moments {
		margin: 60px 0 0;
	}
	#moments .cont-list {
		flex-wrap: wrap;
		gap: 10px;
	}
	#moments .cont-list li {
		width: calc((100% - 10px)/2);
	}
	#moments .tit {
		margin-bottom: 18px;
	}
	#moments .tit h3 {
		font-size: 23px;
		letter-spacing: 0.1em;
	}
}


/* membership */
#membership {
	overflow: hidden;
	width: 100%;
	height: 600px;
	margin-top: 120px;
	position: relative;
}

#membership .membership-inner {
	display: flex;
	width: 100%;
	height: 100%;
}

#membership .mem-cont {
	flex: 1;
	width: calc(50%/2);
	height: 100%;
}

#membership .text-area {
	position: relative;
	color: #fff;
	word-spacing: 2px;
	vertical-align: middle;
	background-color: #183029;
	transform: translateY(100px);
	opacity: 0;
	transition: transform 0.5s ease, opacity 1s ease;
	overflow: hidden;
}

#membership .text-area.scrolled {
	transform: translateY(0);
	opacity: 1;
}

#membership .txt-box {
	display: block;
	width: 100%;
	padding: 10% 5% 5% 10%;
	/* padding: 80px 20px 50px 80px; */
	/* transform: translate(50%, 40%); */
	animation: txt-box-slide 1.4s;
	box-sizing: border-box;
}

#membership .txt-box span {
	display: block;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 10px;
	color: #537c70;
}

#membership .txt-box h2 {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
}

#membership .txt-box p {
	line-height: 2.3;
	word-break: keep-all;
}

#membership .more {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 100%;
	max-width: 280px;
	height: 100%;
	max-height: 80px;
	line-height: 80px;
	text-align: center;
	background: #0b1915;
}

#membership .more span {
	position: relative;
	font-size: 17px;
	font-weight: normal;
	letter-spacing: 0;
	color: #fff;
}

#membership .more i {
	position: relative;
	font-size: 20px;
	color: #fff;
}

#membership .img-area {
	transform: scale(1.5);
	opacity: 0;
	transition: transform 0.5s ease, opacity 1s ease;
}
#membership .img-area img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#membership .img-area.scrolled {
	transform: scale(1);
	opacity: 1;
}

@keyframes txt-box-slide {
	0% {
		opacity: 0;
		margin-top: 100px;
	}

	100% {
		opacity: 1;
		margin-top: 0;
	}
}

@media (max-width: 840px) {
	#membership {
		margin-top: 60px;
		/* height: 800px; */
		height: 100%;
	}
	#membership .membership-inner {
		flex-direction: column;
	}

	#membership .mem-cont {
		display: block;
		width: 100%;
		height: 100%;
	}

	#membership .text-area {
		height: 52%;
		max-height: 500px;
	}

	#membership .img-area {
		height: 48%;
		max-height: 400px;
	}

	#membership .txt-box {
		height: 320px;
		padding: 4% 4% 4% 3%;
		transform: translate(0, 0);
	}

	#membership .txt-box span {
		margin-bottom: 15px;
		font-size: 21px;
	}

	#membership .txt-box h2 {
		font-size: 27px;
        margin-bottom: 17px;
	}

	#membership .txt-box p {
		font-size: 13px;
		line-height: 2;
	}

	#membership .more {
		width: 100%;
		max-width: 180px;
		max-height: 42px;
		line-height: 42px;
	}

	#membership .more span {
		font-size: 13px;
	}
}

@media (max-width: 680px) {
	#membership {
        margin-top: 60px;
        /* height: 715px; */
    }

    #membership .txt-box {
        height: 360px;
    }

	#membership .img-area {
		/* max-height: 300px; */
	}
}


/* topGo */
.topGo {
	position: relative;
	width: 100%;
	padding: 80px 0;
}

.topGo a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	gap: 5px;
	top: 50%;
	bottom: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 100%;
	max-width: 75px;
	height: 100%;
	max-height: 75px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	background: #183029;
	box-sizing: border-box;
}

.topGo i {
	color: #fff;
}

.topGo span {
	display: block;
	color: #fff;
}

@media (max-width: 680px) {
	.topGo {
		padding: 40px 0;
	}

	.topGo a {
		gap: 2px;
		max-width: 45px;
		max-height: 45px;
		font-size: 12px;
	}
}


/*footer*/
footer {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	color: #6d6d6d;
	font-size: 14px;
	background: #1d1d1d;
}

footer .fnb {
	display: flex;
	gap: 30px;
	margin: 10px 0 40px 0;
	flex-wrap: wrap;
}

footer .fnb a {
	word-break: keep-all;
	color: #fff;
}

footer .fnb strong {
	font-size: 14px;
}

footer address {
	line-height: 30px;
	word-break: keep-all;
}

footer address span:first-child:after {
	content: '|';
	margin: 0 10px;
	display: inline;
}

footer .copy {
	margin-top: 10px;
}

footer .group-area {}

footer .sns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

footer .sns a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: #718926;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 40px;
	transition: all .2s;
}

footer .sns a:hover {
	color: #fff;
	background-color: #718926;
}

footer .fnb-link {
	position: relative;
	display: block;
	width: 230px;
	margin-top: 35px;
	box-sizing: border-box;
	border: 1px solid #6d6d6d;
}

footer .fnb-link>a {
	padding: 10px 20px;
	color: #fff;
	text-align: center;
}

footer .fnb-link>a:after {
	content: '\f107';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-left: 30px;
}

footer .fnb-link.open>a:after {
	content: '\f106';
}

footer .fnb-link .link-list {
	overflow: hidden;
	position: absolute;
	max-height: 0;
	bottom: 40px;
	left: 0;
	width: 100%;
	text-align: center;
	background: #fff;
	border: 1px solid #6d6d6d;
	border-bottom: 0;
	z-index: 5;
	transition: all 0.3s ease-out;
}

footer .fnb-link .link-list a {
	display: block;
	padding: 10px;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}

footer .fnb-link .link-list>a:hover {
	background: #b49d8f;
	color: #fff;
}

@media (max-width: 1280px) {
	footer {
		height: 100%;
		flex-direction: column;
		padding: 20px;
	}

	footer .group-area {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		margin-top: 30px;
	}

	footer .fnb-link {
		max-width: 100%;
		margin-top: 0;
		text-align: center;
	}

	footer .fnb-link .link-list {
		max-width: 100%;
		max-height: 400px;
		overflow-y: auto;
	}
}

@media (max-width: 768px) {
	footer .fnb a,
	footer .fnb strong {
		width: calc(50% - 15px);
		font-size: 12px;
    	box-sizing: border-box;
	}
	footer address,
	footer .copy {
		font-size: 12px;
	}
}
